{% extends contentOnly ? 'templates/_contentOnly.twig' : 'templates/_document.twig' %}

{% block content %}
  {% if current_user.user_login is empty %}
    <div class="container login">
      <h1>
        Effettua il login
      </h1>
      <div class="form">
        <form action="{{ site.link }}" method="post" class="sign-in">
        <p>
            <label for="user-name">Nome utente</label><br />
            <input type="text" name="user-name" id="user-name" value="" />
        </p>
        <p>
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" />
        </p>
        {% if action == 'log-in' %}
        <p class="errorLogin">
          Errore!!<br>
          Non è stato possibile effettuare il login.<br>
          Controlla i dati inseriti.
        </p>
        {% endif %}
        <p>
            <input type="submit" name="submit" value="Accedi" />
            <input type="hidden" name="action" value="log-in" />
        </p>   
    </form>
      </div>
    </div>
  {% else %}
    <div class="container home">      
      {% if mainSite %}
        <h1>Ciao {{ current_user.user_login }}</h1>
        <div class="listProject row">
          {% for project in projects %}
            <div class="listProject_item col-lg-4 col-6">
              <div class="listProject_item__title">
                {{project.blogname}}
              </div>
              <a href="{{project.link}}"></a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h1>
          {{ site.name }}
        </h1>
        <div class="media">
          <h2>Media</h2>
          <div class="media-list">
            {% for file in media %}
              <div class="media-list__item">
                <div class="media-list__cell media-list__preview">
                  {% if file.post_mime_type == 'image/jpeg' %}
                    <img src="{{ Image(file.ID).src }}" alt="">                  
                  {% endif %}
                </div>
                <div class="media-list__cell media-list__file-name">
                  {{file.post_title}}
                </div>
                <div class="media-list__cell media-list__file-type">
                  {{file.post_mime_type}}
                </div>
                <div class="media-list__cell media-list__actions">
                  <img class="media-list__delete" data-id="{{file.ID}}" src="{{theme.link}}/assets/images/trash.svg" alt="Elimina">
                  <a href="{{ file.guid }}" download><img class="media-list__download" src="{{theme.link}}/assets/images/download.svg" alt="Scarica"></a>
                </div>
              </div>
            {% endfor %}
            <pre>
              {{ dump(media) }}
            </pre>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
